<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test App</title>
</head>
<body>
	<h1><%= title %></h1>
	<%= new Date() %>

	<form action="/add" method="post">
		<input type="text" name="newItem">
		<input type="submit">
	</form>
</body>
</html>